[submodule "pg.utils.git"]
	path = pg.utils
	url = https://github.com/KadVenku/pg.utils.git
[submodule "kv.utility.git"]
	path = kv.utility
	url = https://github.com/KadVenku/kv.utility.git
[submodule "pg.animationsfxmap.git"]
	path = pg.animationsfxmap
	url = https://github.com/KadVenku/pg.animationsfxmap.git
